/* src/components/Footer/Footer.module.scss */
.footer {
    background-color: #f4f0e7;
    padding: 2rem;
    font-size: 0.85rem;
  }
  .columns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  .columns div p {
    margin: 0.3rem 0;
    cursor: pointer;
  }
  .copy {
    text-align: center;
    color: #555;
  }
  